apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      
      containers:
      - name: postgres
        image: postgres:18
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: quote-db-secret
                key: POSTGRES_USER
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: quote-db-secret
                key: POSTGRES_PASSWORD
          - name: POSTGRES_DB
            value: "postgres"
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: pgdata
            mountPath: /var/lib/postgresql
          - name: init-sql
            mountPath: /docker-entrypoint-initdb.d

      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: postgres-pvc   
        - name: init-sql
          configMap:
            name: postgres-init-sql
